footer{
    background: #872D43;
    color: #ffffff;
    /* padding: 90px 80px; */
    font-family: "Montserrat", serif;
}
.footer-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 90px 80px;
    
  
}
.footer-inner .first-div {
    text-align: start;
}
.footer-inner .first-div img {
margin-bottom: 15px;
}
.footer-inner .first-div p {
  font-size: 15px;
  font-family: "Montserrat", serif;
  text-align: start;
    }
.footer-inner .first-divin{
    margin-top: 30px;
}
.footer-inner .first-divin h2{
 margin-bottom: 10px;
 font-size: 20px;
 font-weight: 700;
}
.footer-inner .second-div h2{
    font-size: 18px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 5px;
    /* border-radius: 5px; */
  
}
.footer-inner .second-div .link-1 ul{
    border-top: 4px solid #ffffff;
    list-style-type: none;

}
.footer-inner .second-div .link-1 ul li{
    text-align: start;
    margin-top: 18px;
 

}
.footer-inner .second-div .link-1 ul li a{
   font-size: 16px;
   text-decoration: none;
   color: #ffffff;
}

.footer-inner .third-div h2{
    font-size: 18px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 5px;
    /* border-radius: 5px; */
  
}
.footer-inner .third-div .link-1 ul{
    border-top: 4px solid #ffffff;
    list-style-type: none;

}
.footer-inner .third-div .link-1 ul li{
    text-align: start;
    margin-top: 18px;
 

}
.footer-inner .third-div .link-1 ul li a{
   font-size: 16px;
   text-decoration: none;
   color: #ffffff;
 

}

.footer-inner .fourth-div h2{
    font-size: 18px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 5px;
    /* border-radius: 5px; */
  
}
.footer-inner .fourth-div .link-1 ul{
    border-top: 4px solid #ffffff;
    list-style-type: none;

}
.footer-inner .fourth-div .link-1 ul li{
    text-align: start;
    margin-top: 18px;
 

}
.footer-inner .fourth-div .link-1 ul li a{
   font-size: 16px;
   text-decoration: none;
   color: #ffffff;
 

}
.footer-inner .fourth-div .contactus-link h2{

    font-size: 18px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 5px;
    margin-top: 16px;
}

.footer-inner .fourth-div .contactus-link .cover1{
    border-top: 4px solid #ffffff ;
    padding-top: 20px;
    display: flex;
    justify-content:flex-start ;
    gap: 15px;
    flex-direction: row;
    font-size: 16px;
    
}
.footer-inner .fourth-div .contactus-link .cover1 p{
    font-size: 16px;
    font-family: "Montserrat", serif;
    display: flex;
    justify-content:flex-start !important;

}
.footer-inner .fourth-div .contactus-link .cover2{
    margin-top: 20px;
    display: flex;
    justify-content:flex-start !important;
    gap: 15px;
    flex-direction: row;
    font-size: 16px;
}
.footer-inner .fourth-div .contactus-link .cover2 p{
    font-size: 16px;
    font-family: "Montserrat", serif;
    display: flex;
    justify-content:flex-start !important;
}

footer .copyright-line{
    border-top: #F4D6E2 1px solid;
    margin-bottom: 20px;
   
}
footer .copyright{
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}
footer .copyright p, a{
    text-decoration: none !important ;
    color: #ffffff;
    font-size: 13px;
    font-family: "Montserrat", serif;
}

@media (max-width: 768px) {

    .footer-inner{
        display: block;
        justify-content: space-between;
        margin-bottom: 40px;
        padding: 90px 80px;
}
.footer-inner .second-div, .third-div, .fourth-div{
    margin-top: 30px;
}
footer .copyright{
    padding: 20px;
    font-size: 8px;
}
footer .copyright-line{
    margin-bottom: 1px;
}
}