nav{
  font-family: "Montserrat", serif;
  font-size: 15px;
  font-weight: 500;
}
.top-nav {
  background-color: #eebfd1;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
}

.middle-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  width: 100%;
  gap: 20px;
}
.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.line {
  width: 2px;
  height: 20px;
  background-color: #70707b;
}
.links {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.nav-icon a {
  text-decoration: none;
  color: #000;
}
.search-input {
  width: 300px;
  height: 38px;
  padding: 15px;
  border-radius: 40px;
  border: 1px solid #eebfd1;
  font-size: 15px;
}

.sign {
  display: flex;
  gap: 1px;
}
.nav-link {
  width: 100%;
  height: 1px;
  background-color: #70707b;
}
.bottom-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 80px;
}
.bottom-nav p {
  padding: 10px;
}
.hambuger {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .hambuger {
    display: flex;
  }
  .search-input {
    display: none;
  }
  .links {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .top-nav {
    font-size: 10px;
  }
  .bottom-nav {
    flex-direction: column;
    background-color: white;
    position: absolute;
    left: 0;
    top: 26%;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 20px;
    border-top: 1px solid #eebfd1;
    justify-content: start;
    padding: 10px 35px;
  }

  .bottom-nav.show {
    display: flex;
  }
}
