@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Signin-form */

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    font-family: "Lora", serif;
}
.Signin-form{
    padding: 35px 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    margin-top: 40px ;
    width: 500px;
   

}
.Signin-form h1{
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
}
form .auth-btn{
    padding: 10px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;
}
form .auth-btn img{
    width: 20px;
    
}
form .input-fields{
    margin-top: 40px;
}
form .input-fields .fields{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-container input {
    width: 100%;
}

.password-container img {
    position: absolute;
    right: 12px;
    cursor: pointer;
    width: 20px;
    height: 20px;
   
}
#error-Msg{
    margin-top: 20px;
    background-color: #F2F4F7;
    padding: 10px 10px;
    border-radius: 15px;
    font-size: 14px;
    display: none;
}
form .input-fields .fields label{
    color: #000000;
}
input{
    font-size: 16px;
    width: 100%;
    height: 40px;
    margin-top: 8px;
    border-radius: 15px;
    padding: 15px;
     border:  2px solid #667085 ;
    
}
input::placeholder{
    color: #667085;
    font-size: 14px;
}
.signin-btn .sign-in{
    background-color: #F2F4F7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}
.signin-btn .sign-in:hover{
    background-color: #872D43;
    color: #ffffff;
}
.signin-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
   
}
.signin-btn h6{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}
.signin-btn h6 a{
    color: #872D43;
}
/* font families */
/* font-family: "Lora", serif;
font-family: "Montserrat", serif; */
.trouble{
    display: flex;
    justify-content: center;
    color: #872D43;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
@media (max-width: 768px) {
form .auth-btn {
    padding: 10px 20px;
}
.Signin-form{
    padding: 35px 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    margin-top: 30px ;
    margin: 20px;
   

}
}